# =========================
# DEPENDENCIES
# =========================
node_modules/

# =========================
# NEXT.JS
# =========================
.next/
out/

# =========================
# BUILD FILES
# =========================
dist/
build/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# COVERAGE
# =========================
coverage/

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# CACHE
# =========================
.cache/

# =========================
# DOCKER
# =========================
docker-data/

# =========================
# TURBO
# =========================
.turbo/

# =========================
# TESTS
# =========================
playwright-report/
test-results/

# =========================
# OPTIONAL SQLITE
# =========================
*.sqlite
*.db